<mat-sidenav-container>
  <mat-sidenav [(opened)]="opened"
               [autoFocus]="false"
               position="end"
               style="height: fit-content; width: fit-content"
  >
    <app-sidenav-content></app-sidenav-content>
  </mat-sidenav>
  <mat-sidenav-content (scroll)="scroll()" cdk-scrollable class="sidenav-content" >
    <div class="container">
      <app-navbar class="nav"
                  (opened)="this.opened=$event"
                  (window:resize)="check()"
                  [style.height]="this.height+'px'"
                  [@hiding]="{value: this.hideNav, params: {height: this.height}}"
                  [@making-bigger]="{
                  value: !this.hideNav && this.scrollableService.getOffset < this.startOffset,
                  params: {height: this.height}
                  }"
      ></app-navbar>
      <div class="nav-back" [style.height]="this.titleHeight+'px'"
      ></div>
      <div class="content-page">
        <router-outlet></router-outlet>
      </div>
      <footer class="footer">
        <div class="footer-content">
          <div class="footer-content-left">
            <div class="footer-icon-text-box-left">
              <h1 fittext class="footer-text networks">Наші&nbsp;соц.&nbsp;мережі</h1>
            </div>
            <div class="footer-icon-box-left">
              <img src="../../assets/facebook.png" class="footer-icon" alt="">
              <img src="../../assets/inst.png" class="footer-icon" alt="">
              <img src="../../assets/telegram.png" class="footer-icon" alt="">
            </div>
          </div>
          <div class="footer-content-right">
            <div class="footer-content-right-inner">
              <div class="footer-icon-with-text-box">
                <img src="../../assets/address.png" class="footer-icon with-text" alt="">
                <div class="footer-icon-text">
                  <h1 fittext class="footer-text">м.Київ<br/>вул.Приклад&nbsp;32б</h1>
                </div>
              </div>
            </div>
            <div class="footer-content-right-inner end">
              <div class="footer-icon-with-text-box">
                <img src="../../assets/email.png" class="footer-icon with-text" alt="">
                <div class="footer-icon-text">
                  <h1 fittext class="footer-text email">sbtop1991@ukr.net</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="made-by-box">
          <h1 fittext class="made-by-text">Made by DM</h1>
        </div>
      </footer>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


